*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.8;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#020617;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px 20px;
}

.student-card,
.card{
background:rgba(255,255,255,.1);
padding:25px;
border-radius:15px;
margin:20px;
backdrop-filter:blur(10px);
}

section{
padding:60px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.timeline{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.step{
background:#2563eb;
padding:15px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

table,th,td{
border:1px solid white;
}

th,td{
padding:15px;
text-align:center;
}

footer{
text-align:center;
padding:30px;
background:black;
}
